body{
    height: 100%;
    text-align: center;
    background-color: rgb(236, 234, 234);
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.904);
}

nav .profile{
    display: flex;
    align-items: center;
}

nav .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .profile h1{
    font-size: 15px;
    margin-left: 10px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}
/* ------------------- ne marche pas -----*/
nav ul li:hover {
    border-bottom: 1px solid black;
}
/*----------------------------*/

h1{
    margin-top: 10%;
    color: rgba(187, 124, 42, 0.705);
}

/*-- https://blog.hubspot.fr/website/animation-css -----*/
.loader{
    animation: preloader .6s ease-in-out alternate .4s infinite;
    font-size: 100px;

}
  
@keyframes preloader { 100% { transform: scale(2); }
}
/*--------------------------*/
footer{
    margin-top: 95%;
    color: rgba(128, 128, 128, 0.308);
    text-align: bottom;
 }

a:visited
{
color: black;
}



 /*-----------Portable -----------*/
@media screen and (max-width:767px) {
    nav{
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    .page-content header{
        margin-top: 10%;
        max-width: 100%;
    }
    .page-content .projets-section{
        margin-top: 15%;
    }
    .page-content .projets-section h1 {
        font-size: 1,5em;
    }
    .page-content .projets-section .projets .projet{
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
    }
    footer{
        justify-content: flex-start;
    }
    footer .colonne{
        width: 80%;
    }
}